/* --- MOBILE STYLES --- */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.projectCard {
  background-color: #505051;
  border-radius: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  padding: 0 16px; /* Add padding on both sides */
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  flex: 0 0 40%;
  overflow: hidden;
}

/* --- WEB VIEW STYLES --- */
@media (min-width: 768px) {
  .projectCard {
    width: 80%; /* Make the containers smaller */
    padding: 0 32px; /* Add padding on both sides */
  }
}